@import url("https://fonts.googleapis.com/css?family=VT323|Amiri&display=swap");

html {
    background: url("../img/IMG_1364.JPG") no-repeat center center fixed;
    background-size: cover;
    font-family: "VT323";
}

h1 {
  text-align: center;
  font-family: "VT323";
  font-size: 80px;
}

h2 {
  text-align: center;
}

p {
    text-align: center;
    font-size: 30px;
}

img {
  width: 500px;
  border-color: white;
  border-radius: 30px;

}

div {
  padding: 30px;
  text-align: center;
}

button {
  background-color: #806855;
  color: white;
  font-family: "VT323";
  border-radius: 30px;
  border: none;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #A40000;
}

button:active {
  background-color: #A40000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button a {
  color: #f5e6d7;
  text-decoration: none;
}

#intro {
  padding-left: 30%;
  padding-right: 30%;
  font-size: 20px;
}
