html {
    background-color: #f5e6d7;
    font-family: "Comic Sans MS";
    background-image: url("binderpaper.png");
}

h1 {
  text-align: center;
  font-family: "Courier New";
  font-weight: bolder;
}

h2 {
  text-align: center;
}

p {
    text-align: center;
}

img {
  width: 500px;
  border-color: white;
  border-radius: 30px;

}

div {
  padding: 30px;
  text-align: center;
}

button {
  background-color: #806855;
  color: white;
  font-family: "Comic Sans MS";
  border-radius: 30px;
  border: none;
  padding: 15px;
}

button a {
  color: #f5e6d7;
  text-decoration: none;
}
